/* ----------------- */
/* base
/* ----------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: 'Montserrat', 'ヒラギノ角ゴシック', sans-serif;
  color: #333;
}
img,svg {
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  display: inline-block;
}
li {
  list-style: none;
}
p {
  font-weight: 300;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-title {
  font-size: 7.2rem;
  text-align: center;
  color: #fff;
}
.section-title {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #391E88;
}
.btn {
  text-align: center;
}
.link-btn {
  position: relative;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  width: 200px;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 45px auto 0;
  padding: 21px 0 21px;
  z-index: 0;
}
.link-btn::before {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  content: "";
  top:  0;
  left: 0;
  transition: all .3s ease-out;
  background-image: linear-gradient(to right, #7633a4 0%, #4e1872 51%, #250d65 100%);
  z-index: -1;
}
.link-btn::after {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  content: "";
  top:  0;
  left: 0;
  background-image: linear-gradient(to right, #250d65 0%, #4e1872 51%, #7633a4 100%);
  z-index: -2;
}
.link-btn:hover::before {
  opacity: 0;
}
.gray-bg {
  background-color: #F0F0F0;
}
.lines {
  line-height: 1.8;
}
.purple {
  color: #391E88;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 10px;
}

/* ----------------- */
/* header
/* ----------------- */
.header-nav {
  font-weight: bold;
  font-size: 1.5rem;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  transition: all .3s;
}
.header-nav.active {
  padding: 20px 30px;
  background-color: #21054d;
}
.header-nav a {
  color: #fff;
}
.header-list a {
  position: relative;
  display: inline-block;
  color: #fff;
}
.header-list a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  content: "";
  transition: width .3s;
  background-color: #fff;
}
.header-list a:hover {
  text-decoration: none;
}
.header-list a:hover::after {
  width: 100%;
}
.nav-item {
  letter-spacing: 0.1em;
  font-size: 1.4rem;
  color: #fff;
}
.nav-item:not(:last-child) {
  margin-right: 25px;
}
.nav-item a {
  position: relative;
  display: inline-block;
  color: #fff;
}
.nav-item a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  content: "";
  transition: width .3s;
  background-color: #fff;
}
.nav-item a:hover {
  text-decoration: none;
}
.nav-item a:hover::after {
  width: 100%;
}
.humburger-clicked {
  display: none;
}
.humburger-clicked__line {
  position: relative;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transition: all .4s;
  border-radius: 4px;
  background-color: #fff;
}
.humburger-clicked__line::before, .humburger-clicked__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: inherit;
  border-radius: 4px;
  background-color: inherit;
}
.humburger-clicked__line::before {
  top: -8px;
}
.humburger-clicked__line::after {
  top: 8px;
}
.humburger-clicked.active .humburger-clicked__line {
  background-color: transparent;
}
.humburger-clicked.active .humburger-clicked__line::before, .humburger-clicked.active .humburger-clicked__line::after {
  top: 0;
  background-color: #fff;
}
.humburger-clicked.active .humburger-clicked__line::before {
  transform: rotate(45deg);
}
.humburger-clicked.active .humburger-clicked__line::after {
  transform: rotate(-45deg);
}
.sub-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  color: #fff;
  background-image: url(../images/hero@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sub-inner {
  padding: 50px 40px 10px 40px;
  text-align: center;
}
.sub-main h2 {
  color: #fff;
}
.subtitle {
  font-size: 1.4rem;
  color: #fff;
}
.menu-guide {
  display: block;
  font-size: 1.2rem;
  padding: 15px 0 15px 15px;
}
.menu-guide p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  max-width: 1110px;
  margin: 0 auto;
}
.menu-guide a span {
  font-size: 1.1rem;
}
.menu-guide a:hover {
  text-decoration: underline;
  opacity: 1;
}
.m-blank {
  margin: 0 6px;
}

/* ----------------- */
/* contact
/* ----------------- */
.section-wrapper {
  padding: 70px 0;
}
.contact-content-wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.form-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.form {
  margin-top: 40px;
  padding: 60px 90px 90px 90px;
  background-color: #F7F7F7;
}
.form-type label {
  font-size: 1.5rem;
  font-weight: 300;
}
.form-type label:not(:last-child) {
  margin-right: 35px;
}
.ml-blank {
  margin-left: 5px;
}
.topic {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  margin: 32px 0 7px;
}
.form-name input {
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  background-color: #fff;
  width: 300px;
  height: 45px;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 8px;
  display: block;
}
.form-company input {
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  background-color: #fff;
  width: 300px;
  height: 45px;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 8px;
  display: block;
}
.form-email input {
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  background-color: #fff;
  width: 300px;
  height: 45px;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 8px;
  display: block;
}
.form-tel input {
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  background-color: #fff;
  width: 200px;
  height: 45px;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 8px;
  display: block;
}
.form-tel span {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 5px;
}
.form-contact textarea {
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  background-color: #fff;
  width: 600px;
  height: 200px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 8px;
  display: inline-block;
}
select {
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  background-color: #fff;
  width: 300px;
  height: 45px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 8px;
  display: block;
}

/* ----------------- */
/* footer
/* ----------------- */
.footer {
  padding: 60px 0 20px;
  background-color: #120E19;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
}
.footer-flex-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-nav a {
  color: #fff;
}
.footer-nav a:hover {
  opacity: 0.7;
  transition: .3s;
}
.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}
small {
  font-size: 1rem;
  color: #A798B7;
}
.copyright a:hover {
  opacity: 0.7;
  transition: .3s;
}

/* ----------------- */
/* ページトップ */
/* ----------------- */
.page-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
  z-index: 1;
  display: none;
}
.page-top__link {
  display: block;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  background-color: #391e88;
}
.page-top__link:hover {
  opacity: .8;
}

/* ↓SP版の記述 */
@media screen and (max-width: 768px) {
/* ----------------- */
/* base_sp
/* ----------------- */
.site-title {
  font-size: 4.8rem;
  text-align: left;
}
.section-title {
  text-align: center;
  font-size: 3rem;
}
.paragragh {
  display: block;
}
.link-btn {
  margin: 50px auto 0;
}
.purple {
  text-align: center;
}

/* ----------------- */
/* header_sp
/* ----------------- */
.header-nav {
  padding: 10px 15px;
}
.header-nav.active {
  padding: 10px 15px;
}
.header-logo {
  width: 120px;
}
.header-right {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity .3s ease;
  opacity: 0;
  background-image: linear-gradient(135deg, #7633a4, #250d65);
}
.header-right.show {
  visibility: visible;
  opacity: 1;
}
.header-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.header-list a::after {
  display: none;
}
.header-paragragh {
  display: block;
}
.nav-item {
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.nav-item:not(:last-child) {
  margin-right: 0;
}
.nav-item a::after {
  display: none;
}
.sub-main {
  height: 180px;
}
.menu-guide {
  font-size: 1.3rem;
  padding: 10px 40px 10px 15px;
}
.humburger-clicked {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  opacity: .9;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
          appearance: none;
  font-size: 1.2rem;
}

/* ----------------- */
/* contact_sp
/* ----------------- */
.section-wrapper {
  padding: 40px 0;
}
.form-title {
  font-size: 1.4rem;
  line-height: 1.8;
}
.form {
  margin-top: 30px;
  padding: 5px 30px 30px;
}
.form-type label {
  font-size: 1.4rem;
  display: block;
}
.form-type label:not(:last-child) {
  margin-right: 0;
  margin-bottom: 10px;
}
.topic {
  font-size: 1.4rem;
}
.form-name input {
  width: 100%;
}
.form-company input {
  width: 100%;
}
.form-email input {
  width: 100%;
}
.form-tel input {
  width: 100%;
}
.form-contact textarea {
  font-size: 1.4rem;
  width: 100%;
}
select {
  font-size: 1.4rem;
  padding: 10px 0 10px 8px;
  width: 100%;
}

/* ----------------- */
/* footer_sp
/* ----------------- */
.footer {
  padding: 60px 20px 19px;
  font-size: 1.2rem;
}
.footer-flex-box {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.footer-nav-item:not(:last-child) {
  margin: 0 20px 20px 10px;
}

/* ----------------- */
/* ページトップ */
/* ----------------- */
.page-top {
  right: 20px;
  bottom: 20px;
}

}